/*
* license: Unlicense (see LICENSE file under same directory)
* Adapted from a stylesheet by Peter Saint-Andre (https://stpeter.im/)
*/
body {
  font-family: "Times New Roman", Times, serif;
  color: #002b36;
  background-color: #eee8d5;
  margin: auto;
  max-width: 72ch;
  padding: 5px;
  font-weight: 300;
  line-height: 1.625;
}
article {
  padding: 25px;
  color: #073642;
  background-color: #fdf6e3;
}
header, footer {
  text-align: center;
  padding: 10px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h1 { font-size: 2.25em;   line-height: 1.167; margin-bottom: .75em}
h2 { font-size: 1.5em;    line-height: 1.75; margin-bottom: .75em}
h3 { font-size: 1.3125em; line-height: 2; margin-bottom: .75em}
h4 { font-size: 1.25em;   line-height: 1.05; }
h5 { font-size: 1.125em;  line-height: 1.167; }
h6 { font-size: 1em;      line-height: 1.3125; }
a {
  color: #268bd2;
}
a:visited {
  color: #6c71c4;
}
b {
  font-weight: bold;
}
img {
  max-width: 100%;
  margin: 5px auto;
  display: block;
}
p {
  font-size: large;
  margin: 1.3125em 0;
  padding: 0;
}
li {
  font-size: large;
  list-style: circle;
  padding: 0;
}
code, pre {
  padding: 2px;
  background-color: #eee8d5;
}
pre {
  overflow-x:auto;
}
